div.suggestions {
  margin: 0 auto;
  height: 395px;
  width: 1304px;
  margin-top: 20px !important;
}
div.suggestions > h3 {
  text-align: center;
  color: #080a38;
  font-size: 21px;
  font-weight: 500;
  line-height: 44px;
  padding: 25px 0;
}
div.suggestions > div.iitems {
  width: 1304px;
  height: 310.6px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: center;
  border: 1px solid #e0e0e6;
}
div.suggestions > div.iitems > div {
  display: flex;
  flex-direction: column;
  width: 186px;
  height: 154px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e676;
  border-left: 1px solid #e0e0e676;
}
div.suggestions > div.iitems > div > div {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f1f2f4;
}

div.suggestions > div.iitems > div:nth-of-type(7) {
  border-left: unset;
}
div.suggestions > div.iitems > div:nth-of-type(8) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(9) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(10) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(11) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(12) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(13) {
  border-bottom: unset;
}
div.suggestions > div.iitems > div:nth-of-type(14) {
  border-bottom: unset;

  border-left: unset;
}
div.suggestions > div.iitems > div > div > img {
  width: 60px;
  height: 60px;
}
div.suggestions > div.iitems > div > h4 {
  color: #080a38;
  font-size: 14px;
  font-weight: 200;
  margin: 8px 0 0 0;
}
